method: :smtp
settings:
  :address: <%= ENV["MAIL_HOST"] %>
  :port:    <%= ENV["MAIL_PORT"] %>
  :domain:  <%= ENV["MAIL_DOMAIN"]%>
  :authentication:  :login
  :user_name: <%= ENV["MAIL_USERNAME"] %>
  :password: <%= ENV["MAIL_PASSWORD"] %>
